.cmp-gadget-nav {
	padding: 0;
    padding-left: 0;
    list-style: none;
}
.cmp-gadget-nav a {
	cursor: pointer;
	color: $color-grayscale-darkest;
	padding: 20px;
	margin-right: 5px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    background-color: $color-bluescale-lightest;
    border: 1px solid $color-grayscale-lighter;
    @include border-radius(3px);
}
.cmp-gadget-nav a:hover {
	color: $color-bluescale-lightest;
	background-color: $color-brand-blue;
}
.cmp-gadget-nav .glyphicon {
	display: block;
	width: auto;
	margin: auto;
	margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}