//
// Login Container
//

// Login Container Base
.cmp-login {
}

// Login Container Header
.cmp-login-header {

  & h1 {
    font-size: 1.4rem;
    font-weight: $font-weight-semibold;
  }
  & > h1 + p {
    margin-top: $margin-md;
  }	
}

// Generic Properties
.cmp-login-header {
  @include content-spacing-margin-y($margin-sm, $margin-lg);
  text-align: center;    
}

.cmp-login-footer {
  margin-top: 20px;
}

// Login brand
.cmp-login-brand {
  max-height: 48px;
  @include content-spacing-margin-y($margin-xx-lg, $margin-sm);
}

