.cmp-popover {
	display: none;
	overflow: hidden;
	position: absolute;
	width: 300px;
	height: auto;
	z-index: 70;
	background: #fff;
    border-radius: 3px;
	border: 1px solid #d6dadc;
    border-bottom-color: #c4c9cc;
	box-shadow: 0 1px 6px rgba(0,0,0,.15);

	.cmp-popover-header {
		height: 40px;
		position: relative;
		text-align: center;
		border-bottom: 1px solid rgba(0,0,0,.1);

		.cmp-popover-header-title {
			color: #4c4c4c;
			font-size: 13px;
			font-weight: 600;
			display: block;
			line-height: 38px;
			overflow: hidden;
			padding-left: 10px;
			padding-right: 10px;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			z-index: 1;
		}

		.cmp-popover-header-close-btn {
			padding: 10px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
		}
	}

	.cmp-popover-body {
		overflow-x: hidden;
		overflow-y: auto;
		padding: 10px;
	}

	.alert:last-child {
		margin-top: 10px;
		margin-bottom: 0;
	}
}

/*.cmp-popover-add-goal {
	display: block;
	div + div {
		margin-top: 5px;
	}
}*/
