//
// Table Styling
//

// Bootstrap Table Overrides

.table {
  border-bottom: 1px solid #e0e0e0;

  & p {
  	margin-bottom: 0;
  }
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  border-bottom: 1px;
}

// Table Header

.table.cmp-table > thead > tr > th,
.table.cmp-table > tbody > tr > th,
.table.cmp-table > tfoot > tr > th {
  color: $gray-dark;
  font-size: 0.8rem;
  font-weight: $font-weight-semibold;
}

/*.cmp-table-actions {
  visibility: hidden;
}

.table > tbody > tr:hover .cmp-table-actions {
  visibility: visible;
}*/