<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration  PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%-20c{1}]  %m%n" />
        </layout>
    </appender>
    <category name="br.com.caelum.vraptor">
        <priority value="WARN" />
        <appender-ref ref="stdout" />
    </category>
    <category name="org.hibernate">
        <priority value="WARN" />
        <appender-ref ref="stdout" />
    </category>
    <category name="java.sql">
        <priority value="WARN" />
        <appender-ref ref="stdout" />
    </category>
    <category name="com.mchange">
        <priority value="WARN" />
        <appender-ref ref="stdout" />
    </category>
    <category name="net.sf">
        <priority value="WARN" />
        <appender-ref ref="stdout" />
    </category>
    <category name="org.jboss">
        <priority value="WARN" />
        <appender-ref ref="stdout" />
    </category>
    <category name="br.com.caelum.vraptor.boilerplate">
        <priority value="INFO" />
        <appender-ref ref="stdout" />
    </category>
    <category name="org.forpdi">
        <priority value="INFO" />
        <appender-ref ref="stdout" />
    </category>
    <category name="br.com.caelum.vraptor.tasks">
        <priority value="INFO" />
        <appender-ref ref="stdout" />
    </category>
    <category name="br.com.caelum.vraptor.tasks">
        <priority value="INFO" />
        <appender-ref ref="stdout" />
    </category>
    <!-- incluir outras definições aqui -->
</log4j:configuration>