//
// Button Styling
//

// Bootstrap Button Overrides
.btn {
  font-size: 13px;
  font-weight: $font-weight-normal;

  & > span:not(:last-child) {
  	margin-right: 5px;
  }
}

.btn:not(.btn-block) + .btn:not(.btn-block) {
  margin-left: 10px;
}

// Navbar Search Button
.navbar-btn.navbar-search-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

// Action Icons
.fpdi-action-icon {
	color: #999;
	cursor: pointer;

	&:hover {
		color: #424242;
	}
}


.btn-feedback {

  & .mdi {
    color: red;
  }

  & .mdi::before {
    font-size: 14px;
    top: 1px; 
  }
}