// Card list section

// Card list

.fpdi-card-list {
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	@extend .list-unstyled;

	& li {
		margin-bottom: 15px;
		position: relative;
		width: 25%;

		.fpdi-card-item {
			margin-right: 15px;
			display: block;
			position: relative;
		}

		a.fpdi-card-item-wrapper,
		span.fpdi-card-item-wrapper {
			background-color: #fff;
			background-size: cover;
			background-position: center center;
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 3px;
			display: block;
			margin: 0 15px 0 0;
			padding: 12px 16px;
			position: relative;
			text-decoration: none;
			z-index: 0;

			&.fpdi-card-item-add {
				background-color: #edeff0;
				border-color: #edeff0;
				color: #8c8c8c;
				font-weight: 400;
				line-height: 64px;
				text-align: center;

				&.fpdi-card-item-add-lg {
					line-height: 98px;
				}
			}

			&.fpdi-card-item-add:hover {
				background-color: #e2e4e6;
			}
		}

		a.fpdi-card-item-wrapper:hover {
			background-color: #fafbfd;
		}

		.details {
			display: block;
			min-height: 60px;
			position: relative;

			&.details-lg {
				min-height: 100px;
			}
		}

		/* TO-DO - It's already styled but needs some JS coding*/
		.options {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 3;
			height: 44px;
			font-size: 14px;
			padding: 14px 10px;
			color: rgba(0,0,0,.5);
			/*opacity: 0;

			&:hover {
				opacity: 1;
			}*/
		}

		.fpdi-card-item-name {
			color: #4c4c4c;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}

		.fpdi-card-item-sub-name {
			color: rgba(0,0,0,.35);
			display: block;
			font-size: 13px;
			font-weight: 600;
			line-height: 18px;
			margin-top: 3px;
		}

		.fpdi-card-item-action-bar {
			display: block;
			margin-top: 5px;		

			.fpdi-card-item-action {
				display: inline-block;
				background-color: #eee;
				padding: 5px 10px;
				border-radius: 3px;
				font-size: 12px;
				font-weight: 600;
				margin-bottom: 5px;

				.fpdi-action-animated-icon { display: none; }
				.fpdi-action-animated-icon:before { font-size: 12px; }

				&:hover {
					background-color: #e2e2e2;
				}
				&.fpdi-card-item-action-icon {
					padding: 5px 6px;

					& .mdi::before {
						color: #999;
						font-size: 15px;
					}
				}

				.fpdi-card-item-action-label {
					color: #4a4a4a;
				}

				// Status Action Buttons
				&.finish:hover,
				&.completed {
					background-color: $brand-success; 
				}

				&.finish:hover,
				&.completed {
					& .fpdi-card-item-action-label { color: #fff; }
					.fpdi-action-animated-icon { display: inline-block; }
				}
			}

			.fpdi-card-item-action + .fpdi-card-item-action {
				margin-left: 5px;
			}
		}

		.fpdi-card-item-due-date {
			color: rgba(0,0,0,.35);
			font-size: 13px;
			font-weight: 600;
			line-height: 18px;
			margin-top: 3px;
			float: left;
		}

		.fpdi-card-item-members {
			float: right;

			.fpdi-card-item-member img {
				height: 23px;
				border-radius: 3px;
			}

			.fpdi-card-item-member + .fpdi-card-item-member {
				margin-left: 8px;
			}
		}
	}
}

@media only screen and (max-width : 992px) {
	.fpdi-card-list li {
		width: 33%;
	}
}

@media only screen and (max-width : 768px) {
	.fpdi-card-list li {
		width: 50%;
	}
}

@media only screen and (max-width : 480px) {
	.fpdi-card-list li {
		width: 100%;

		& a.fpdi-card-item-wrapper,
		& span.fpdi-card-item-wrapper {
			margin: 0;

			& .fpdi-card-item {
				margin-right: 0;
			}
		}
	}

	.fpdi-card-list-section {
		& .fpdi-card-list-section-action-bar {
			display: block;
			margin-left: 0;
			padding-top: 10px;

			& .fpdi-card-list-section-action {
				background-color: #eee;
			}

			& .fpdi-card-list-section-action:first-of-type {
				margin-left: 0;
			}
		}
	}
}














.fpdi-card-form {
	display: block;
	background-color: #fff;
	border: 1px solid;
	border-color: $color-brand-border;
	padding: 10px;
	margin: 10px auto;
	width: 85%;
	@media (min-width: 640px) {
		width: 70%;
	}
	@media (min-width: 1024px) {
		width: 50%;
	}
	@include border-radius(3px);
}

.fpdi-card-login{
	 display: block;
     margin: 10px auto;

    @media (min-width: 640px) {
  	width: 60%;
  }

   @media (min-width: 1024px) {
  	width: 80%;
  }


	
}

.fpdi-card {
	width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid;
  border-color: $color-brand-border;
  padding: 20px;
  margin: 10px auto;
  @include border-radius(3px);

  @media (min-width: 640px) {
  	width: 60%;
  }
  @media (min-width: 1024px) {
  	width: 80%;
  }
  &.fpdi-card-full {
  	width: 100%;
  }

  .fpdi-tabs-content & {
  	border: none !important;
  }

  & > h1:first-child,
  & > h2:first-child,
  & > h3:first-child,
  & > h4:first-child {
  	margin-top: 0px;
  }
  &.fpdi-card-level {
  	margin-bottom: 5px;
  }
  &.fpdi-card-company {
  	background-color: $brand-background;
  	.fpdi-company-logo {
  		display: block;
  		height: 100px;
  		background-color: transparent;
  		background-position: center center;
  		background-repeat: no-repeat;
  		background-size: 100%;
  		margin: 5px 0px;
  	}
  }
  .fpdi-card-title {
	font-size: $font-size-base;
	font-weight: $headings-font-weight;
	margin-bottom: 10px;
	.mdi {
		float: right;
		color: inherit;
		margin-left: 10px;
	}
  }

  .mdi {
  	vertical-align: middle;
    margin-right: 5px;
  }
  &.fpdi-card-invisible {
  	background-color: transparent;
  	box-shadow: none;
  	border: 1px solid transparent;
  }
  &.fpdi-card-ghost {
  	background-color: rgba(255,255,255,.3);
  	box-shadow: none;
  	border: 1px solid #d8dee2;
  }

  &.fpdi-card-info-green {
  	color: darken($brand-success, 10%);
  	background-color: rgba(79, 215, 146, .1);
  	box-shadow: none;
  	border: 1px solid rgba(79, 215, 146, .4);

  	& a { color: inherit; font-weight: $font-weight-semibold; }
  }

  &.fpdi-card-info-yellow {
  	color: darken($brand-warning, 20%);
  	background-color: rgba(255, 204, 102, .1);
  	box-shadow: none;
  	border: 1px solid rgba(255, 204, 102, .4);

  	& a { color: inherit; font-weight: $font-weight-semibold; }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.fpdi-card-task {
	@include flexbox;
  	@include flex-dir(column);
	color: $text-color;
	height: 200px;
	max-height: 200px;

	.fpdi-card-title {
		font-size: $font-size-base;
		font-weight: $headings-font-weight;
		margin-bottom: 10px;
	}
	.fill-parent {
		@include flex(1);
	}

	.fpdi-task-end {
		display: inline-block;
		color: #fff;
		font-size: $font-size-small;
		background-color: $brand-primary;
		border-radius: 2px;
		padding: 5px;

		& span.mdi::before {
			font-size: $font-size-small;
			line-height: 100%;
		}

	    &.warning { background-color: $brand-warning; }
	    &.late { background-color: $brand-danger; }
	}

	.fpdi-task-status {
		cursor: pointer;
		.not-started {
			border-color: $brand-warning;
		}
		.finished {
			border-color: $brand-success;
		}
	}

	.fpdi-task-toolbox {

	}
}
