
.fpdi-required {

	&:after {
		color: $brand-danger;
		content: "*";
	}
}

// Centralização Óbvia
input[type=checkbox],
input[type=radio],
.button-radio > span
{
	vertical-align: middle;
}

//
// Form Styles
//

// Bootstrap Overrides

.ng-dirty.ng-invalid {
  border-color: $color-brand-red;
}

.input-group-addon {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  background-color: #f5f7f8;
}
.input-group-addon.input-sm,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .input-group-addon.btn {
  font-size: 13px;
}
/*.input-group-addon + .form-control {
  border-left: none;
}*/

form {
  & label {
  	font-size: 0.9375rem;
    font-weight: $font-weight-semibold;
    padding-bottom: 5px;
  }
}

.form-group:last-child {
  /*margin-bottom: 0;*/
}

// Custom Form Containers

.fpdi-form-header {

}

.fpdi-form-body {
  margin-bottom: 60px;
}

.fpdi-form-footer {
  margin-top: 20px;

  & .btn + .btn {
  	margin-left: 10px;
  }
}



/* Invite Form */

.invite-form {
	input.form-control.input-large {
		padding: 30px 20px;
		font-size: 20px;
	}
}

/* Radio Buttons */

.button-radio {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	background-image: none;
	white-space: nowrap;
	font-weight: 600;
	padding: 20px;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
}
@media only screen and (max-width : 480px) {
	.button-radio {
		padding: 20px 3px;
	}
}
.button-radio:hover { text-decoration: none; }
.button-radio::selection { background: none; }

.button-radio-default {
	color: #6c6c6c;
	background-color: #e2e4e6;
}
.button-radio-default:hover {
	color: #6c6c6c;
	background-image: linear-gradient(rgba(0,0,0,.02), rgba(0,0,0,.02));
}
.button-radio-default:focus,
.button-radio-default:active {
	color: #6c6c6c;
	background-image: linear-gradient(rgba(0,0,0,.04), rgba(0,0,0,.04));
}

.btn-group.btn-group-justified .button-radio-default:not(:last-child) {
	border-right: 2px solid rgba(0,0,0,.06);
}


.css-15brt4p {
	display: none !important;
}


.multiselect {
	margin-top: 8px;
}

.css-ik6y5r{
	border: 1px solid #A9A9A9;
}
