.fpdi-modal-header {
	& .modal-title {
		font-weight: $font-weight-semibold !important;
		font-size: 18px;
		color: #666666;
	}
}

.fpdi-modal-body {
	padding: 0 20px 20px;
}

.fpdi-modal-footer {
	text-align: center;
	padding: 10px 20px 20px;
}

.fpdi-modal-confirmCustom {
	//width:400;
	width: 600px;
	transform: translateX(-100px); //foi adicionado para compensar a mudança de tamanho
	padding: 0px 10px;
}

#cancelModalCustom {
	background-color: #FF0000;
	border-color: #FF0000;
}
#cancelModalCustom:hover {
	background-color: darken(#FF0000, 5%);
	border-color: darken(#FF0000, 5%);
}

#modalIcon{
	font-size: 18px !important;
}

#modalIcon::before {
	font-size: 18px !important;
}

.modal-button {
	padding-left: 18px;
	padding-right: 18px;
}

.mdi-cancelModalCustom{
	color: #FF0000;
	font-size: 18px !important;
}

.mdi-confirmModalCustom{
	color: #00A740;
	font-size: 18px !important;
}

.centerTitleModalCompleteGoal {
    text-align: center;
}

.fpdi-modal-confirmCustomUser {
	width: 550px;
	margin-top: 50%;
	transform: translateX(-10%);
}

.modal-content-confirmUser {
	padding: 0px 20px 10px 20px;
}


.frisco-modal-history {

	& .modal-title {
		font-weight: $font-weight-semibold !important;
		font-size: 14px;
		color: #666666;
		padding: 10px 0px 0 20px;
	}

	border-radius: 10px;
}
