#main-body {
	margin: 0;
	padding: 0;
}

/* 
 * DEPRECATED
 * To use this container set the 'main' tag class on 'AppSetup.jsx' to .fpdi-app-container.
 */
.fpdi-app-container {
  position: absolute;
  @include flexbox;
  @include flex-dir(row);
	z-index: 1;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/* 
 * DEPRECATED
 * To use this container set the 'main' tag class on 'AppSetup.jsx' to .fpdi-app-container
 * and then set the 'div' tag class before the '<router>' element to .fpdi-app-content.
 */
.fpdi-app-content {
  overflow-y: auto;
  overflow-x: hidden;
  @include flex(7);
	height: 100%;
  background-color: $brand-background;
}

.fpdi-app-panel {
  padding-top: 50px;
  padding-bottom: 20px;
}

.fpdi-app-sidebar-sm {
  overflow-y: hidden;
  overflow-x: hidden;
  @include flexbox;
  @include flex-dir(column);
	height: 100%;
  min-width: 50px;
  width: 50px;
  max-width: 50px;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  background-color: #000;
  color: #FFF;
  > span, > a {
  	display: block;
  	height: 50px;
  	width: 50px;
  	line-height: 50px;
  	margin: 0px auto;
  	cursor: pointer;
  	&:hover {
  		background-color: #FFF;
  		color: #000;
  	}
  }
}

.fpdi-app-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  @include flexbox;
  @include flex-dir(column);
  @include flex(2);
  border: none;
  max-width: 260px;
  font-size: 13px;
  font-weight: 600;
  color: #FFFFFF;

  & > * {
    background-color: mix($brand-primary, #111, 40%);
  }
  &.light > * {
    background-color: mix($brand-primary, #111, 60%);
  }

  > .nav {
    padding: 15px 10px;
  }
  > .nav > li > a {
      color: $navbar-inverse-link-color;
      opacity: .9;

      &:hover,
      &:focus {
        background-color: rgba(0,0,0,0.1);
        opacity: 1;
        border-radius: 3px;
      }
      & .fpdi-nav-icon {
        margin-right: 10px;
      }
  }
  > .nav > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: $brand-primary;
      }
  }
  > .nav > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-link-disabled-color;
        background-color: $navbar-inverse-link-disabled-bg;
      }
  }
  > .nav > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-inverse-link-active-bg;
        color: $navbar-inverse-link-active-color;
      }
  }
  & .fpdi-sidebar-brand {
    height: 70px;
    border: none;
    padding: 10px;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;

    > img {
      height: 50px;
      display: block;
      margin: 0 auto;
    }
  }
}

.fpdi-top-bar {
  background-color: #FFF;
  color: $brand-primary;
  height: 70px;
  margin: 0px;
  padding: 10px 20px;
  width: 100%;
  @include flexbox;
  @include flex-dir(row);
  border-bottom: 1px solid #CCC;

  & .mdi {
    font-size: 24px;
    &::before {
      font-size: 24px;
    }
  }
  & > * {
    background-color: transparent;
    color: $brand-primary;
    margin: auto;
    &:hover {
      color: lighten($brand-primary, 10%);
    }
  }
  & > *:not(:last-child) {
    margin-right: 25px;
  }
}

.fpdi-fill {
  @include flex(1);
}
