//
// Dropdown Styling
//

// Bootstrap Dropdown Overrides

.dropdown {


  .btn:not(:last-child) {
    margin-right: 10px;
  }
}
.dropdown-menu {
  padding: 8px;

  & .divider {
    height: 1px;
    margin: 5px 0;
    padding: 0 9px;
    overflow: hidden;
    background-color: rgba(0,0,0,.05);
  }

  & > li {
    min-width: 250px;
  }

  & > li > a {
    padding: 8px 10px;
    line-height: 1.42857143;
    white-space: nowrap;
  }

  & > li > a span:not(:last-child) {
    margin-right: 5px;
  }

  & > li > a > span.mdi {
    color: #42AFE3;
    margin-left: 6px;
    vertical-align: top;
    font-size: 12px;
    font-weight: $font-weight-light;
  }


  & li.selected {
    background-color: #f5faff;
    //border: 1px solid rgba(79, 215, 146, .5); 
    border-radius: 3px;

    & > a,
    & > a > span {
      color: rgba(79, 215, 146, 1);
    }

    & .selected-icon {

    }
  }
}

// Navbar Profile Information Dropdown

.navbar-nav .fpdi-dropdown-profile .dropdown-menu {

  & > li.copyright {
    color: $color-bluescale-light;
    font-weight: $font-weight-light;
    text-align: center;
    pointer-events: none;
  }
}

.navbar-nav li.fpdi-dropdown-profile > a {
  padding-top: ($navbar-padding-top/2) + 4;
  padding-bottom: ($navbar-padding-bottom/2) + 4;
  padding-right: 0;

  & > img {
    height: 25px;
    width: 25px;
    border-radius: 3px;
  }

  & > span {
    padding-top: 2px;
    margin-left: 3px;
  }

  & > span.caret {
    margin-left: 0;
    opacity: .4;
  }
}
