.fpdi-editable-data-view {
	cursor: pointer;

	/*&:after {
		visibility: hidden;
		margin-left: 5px;
		content: mdi("pencil");
		@extend .mdi;
	}
	&:hover:after {
		visibility: visible;
	}*/
}

/*.fpdi-editable-data-input-group {
	.fpdi-editable-data-input {

	}
	.fpdi-editable-data-textarea {

	}
}*/
