.cmp-error-404 {
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 12vh;

  img {
    width: 400px;
  }

  h1 {
    color: #3a3a3a;
    font-size: 28px;
    font-weight: $font-weight-normal;
  }

  p {
    color: #989898;
    font-size: 14px;
  }

  img, h1, p {
  	margin-bottom: 20px;
  }
}