.cmp-modal-header {
	& .modal-title {	
		font-weight: $font-weight-semibold !important;
	}
}

.cmp-modal-body {
	padding: 0 20px 20px;
}

.cmp-modal-footer {
	text-align: center;
	padding: 10px 20px 20px;
}