.fpdi-profile {

	.fpdi-profile-header {
		padding-top: 40px;
		padding-bottom: 40px;

		.fpdi-profile-header-picture {
			display: inline-block;
			width: 60px;
			height: 60px;
			border-radius: 3px;
			margin-right: 20px;
			vertical-align: top;
		}

		.fpdi-profile-header-details {
			display: inline-block;
			position: relative;
		}

		.fpdi-profile-header-text {
			display: block;
			color: #6c6c6c;
			font-size: 20px;
			margin: 0;
			padding: 0;
		}

		.fpdi-profile-header-subtext {
			color: rgba(0,0,0,.35);
			display: block;
			font-weight: 600;
			line-height: 18px;
		}

		.fpdi-profile-header-text + .fpdi-profile-header-subtext {
			margin-top: 5px;
			margin-bottom: 10px;
		}
	}

	.fpdi-profile-header-centered {
		padding-top: 40px;
		padding-bottom: 20px;
		text-align: center;

		.fpdi-profile-header-picture {
			display: block;
			width: 60px;
			height: 60px;
			border-radius: 3px;
			margin: 0 auto 15px;
		}

		.fpdi-profile-header-details {
			display: block;
		}

		.fpdi-profile-header-text {
			display: block;
			color: #6c6c6c;
			font-size: 20px;
			margin: 0;
			padding: 0;
		}

		.fpdi-profile-header-subtext {
			color: rgba(0,0,0,.35);
			display: block;
			font-weight: 600;
			line-height: 18px;
		}

		.fpdi-profile-header-text + .fpdi-profile-header-subtext {
			margin-top: 5px;
		}
	}
}