.fpdi-search-form {

  &.navbar-form {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  & .form-group {
    transition: all 0.35s;

    & input.form-control {
      //display: block;
      border: 1px solid;
      border-color: transparent;
      border-radius: $input-border-radius;
      width: 300px;

      &::-webkit-input-placeholder { visibility: hidden; }
      &:-moz-placeholder { visibility: hidden; } /* Firefox 18- */ 
      &::-moz-placeholder { visibility: hidden; } /* Firefox 19+ */
      &:-ms-input-placeholder { visibility: hidden; }

      &:hover,
      &.hover,
      &:focus,
      &.focus {
        border-color: $input-border;

        &~span.form-control-feedback {
          color: #42AFE3;
        }

        &::-webkit-input-placeholder { visibility: visible; }
        &:-moz-placeholder { visibility: visible; } /* Firefox 18- */ 
        &::-moz-placeholder { visibility: visible; } /* Firefox 19+ */
        &:-ms-input-placeholder { visibility: visible; }
      }

    }

    & span.form-control-feedback {
    //position: absolute;
    //top: -1px;
    //right: -2px;
    //z-index: 2;
    //display: block;
    //text-align: center;
    //left: initial;
    //font-size: 14px;
    //vertical-align: middle;
    }

  }
}