.cmp-sidebar-content {
  padding-top: 15px;
  padding-bottom: 15px;

  & label {
  	font-size: 0.8125rem;//font-size: 0.6875rem;
  }
}

.cmp-sidebar-menu {
  //font-size: 0.8125rem;
  margin-bottom: 15px;

  .cmp-sidebar-menu-item {
  	display: block;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    color: $color-grayscale-light !important;

    & > span {
      margin-right: 5px;
    }

    &:hover {
      color: $color-grayscale-dark !important;
    }
    &.active {
      color: $color-bluescale-base !important;
    }
  }
}