.fpdi-tabs {
	.fpdi-tabs-nav {
		display: block;
		background-color: transparent;
		margin: 10px 10px 0px 10px;
		padding: 5px 10px 0px;
		@include flexbox;
  		@include flex-dir(row);
  		@include border-radius(5px 5px 0px 0px);
  		&::after {
  			@include flex(1);
  		}
		& > * {
			border: 1px solid;
			border-color: $color-brand-border;
			border-bottom: none;
			list-style: none;
			background-color: #DFDFDF;
			padding: 5px 10px;
			margin: 0px 5px 0px 0px;
			cursor: pointer;
			@include border-radius(3px 3px 0px 0px);
			&.active {
				background-color: #FFFFFF;
				margin-bottom: -1px;
			}
		}
	}
	.fpdi-tabs-content {
		background: #FFFFFF;
		border: 1px solid;
		border-color: $color-brand-border;
		margin: 0px 10px;
		padding: 10px;
		min-height: 300px;
		@include border-radius(5px);
	}
}

.fpdi-tabs-stacked {
	.fpdi-tabs-nav {
		display: block;
		margin: 0px;
		padding: 10px;
		@include flexbox;
  		@include flex-dir(column);
  		&::after {
  			@include flex(1);
  		}
		& > * {
			list-style: none;
			background-color: transparent;
			color: inherit;
			padding: 8px 15px;
			margin: 0px 0px 5px 0px;
			cursor: pointer;
			line-height: 100%;
			@include border-radius(5px);
			&.active {
				background-color: $brand-primary;
				color: #FFFFFF;
			}
			&:hover {
				background-color: $brand-primary;
				color: #FFFFFF;
			}
			& .mdi::before {
				font-size: 24px;
				line-height: 24px;
				margin-right: 10px;
			}
			& .mdi {
				vertical-align: middle;
			}
		}
	}
}