//
// Text Label
//

// Text Label Variants
@mixin text-label-variant($color, $font-weight, $text-transform) {
  color: $color;
  font-size: 0.8rem;
  font-weight: $font-weight;
  text-transform: $text-transform;
}