// Custom CSS Prefix
//$css-prefix: 'fpdi-';

//
// Colors
//

// Brand Colors
$color-brand-blue: #2b83ee;
$color-brand-purple: #6d3cbe;
$color-brand-green: #4fd792;
$color-brand-orange: #ff9f5f;
$color-brand-red: #e74c3c;
$color-brand-yellow: #ffcc66;

// Bluescale Base Colors
$color-bluescale-darkest: #143d6e;
$color-bluescale-darker: #2267bb;
$color-bluescale-dark: #2071c5;
$color-bluescale-base: $color-brand-blue;
$color-bluescale-light: #5b9ff1;
$color-bluescale-lighter: #74acf1;
$color-bluescale-x-lighter: #e0eefd;
$color-bluescale-lightest: #f5f7f9;

// Grayscale Base Colors
$color-grayscale-darkest: #1b2432;
$color-grayscale-dark: #424242; 
$color-grayscale-base: #575858;
$color-grayscale-light: #70777b;
$color-grayscale-lighter: #9e9e9f;
$color-grayscale-lightest: #a1a4aa;

// Lightscale Base Colors
$color-lightscale-blue: $color-bluescale-lightest;
$color-lightscale-yellow: #fffede;
$color-lightscale-orange: #fff8e3;
$color-lightscale-green: #eefff6;
$color-lightscale-purple: #e8e1ff;


//
// Font Styling
//

// Font Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

//
// Margins
//
$margin-x-sm: 5px;
$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 30px;
$margin-x-lg: 40px;
$margin-xx-lg: 60px;
$margin-xxx-lg: 80px;

//
// Paddings
//

// Navbar Padding
$navbar-padding-top: 15px;
$navbar-padding-bottom: 15px;

//
// Navbar
//

// Navbar Height
$navbar-height: 50px;